/* ---CONTACT FORM--- */
form input, 
form textarea {
    width: 100%;
}

fieldset {
    border: 0;

}
form label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

form input[type=text], 
form input[type=email] {
    width: 100%;
    margin-bottom: 20px;
    color:  #000;
    font-size: 16px;
}


form textarea {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000;
}

form button {
    color: #000;
    background-color: #fff;
    font-size: 14px;
    margin: 10px 15px;
    padding: 5px 10px;
    border-radius: 5px;
}
